$font-main:'Montserrat', sans-serif;

@mixin font-header{
    font-size:24px;
    font-weight:500;
}
@mixin font-footer{
    font-size:24px;
    font-weight:500;
    color:white;
}
@mixin font-banner{
    font-size:48px;
    font-weight: 700;
    color:white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

}
@mixin font-element{
    font-size: 18px;
    font-weight: 700;
    color:white;
}
@mixin font-text{
    font-size:18px;
    font-weight: 400;
}
