$font-main:'Montserrat', sans-serif;
@import '/src/styles/colors.scss';

@mixin font-header{
    font-size:24px;
    font-weight:500;
}
@mixin font-footer{
    font-size:24px;
    font-weight:500;
    color:white;
}
@mixin font-banner{
    font-size:48px;
    font-weight: 700;
    color:white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

}
@mixin font-collapse{
    font-size:24px;
    font-weight:700;
    color:white;
}
@mixin font-card{
    font-size: 18px;
    font-weight: 700;
    color:white;
}
@mixin font-text{
    font-size:18px;
    font-weight: 400;
}
@mixin font-error-code{
    font-size:288px;
    font-weight: 700;
}
@mixin font-error-text{
    font-size:36px;
    font-weight: 500;
}
@mixin font-property-title{
    font-size:36px;
    font-weight: 500;
    color:$red;
}
@mixin font-property-location{
    font-size:18px;
    font-weight: 500;
}
@mixin font-property-host-name{
    font-size:18px;
    font-weight:500;
    color:$red;
}
@mixin font-propety-tag{
    font-size: 14px;
    font-weight: 700;
    color:white;
}
