@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';


.collapse{
    display:flex;
    flex-direction: column;  

    .collapse-btn{
        background-color: $red;
        border:none;
        height:52px;
        display:flex;
        justify-content: space-between;
        @include font-element;
        padding:0 15px 0 15px;
        align-items: center;

        .open{
            width:32px;
            height:32px;
            transform:rotate(0);
            transition:transform 500ms;
        }
        .closed{
            width:32px;
            height:32px;
            transform:rotate(180deg);
            transition:transform 500ms;
        }
        &:active .open{
            transform:rotate(180deg);
        }
        &:active .closed{
            transform:rotate(O);
        }
        &:active+.collapse-content-open{
            transform:scaleY(0);
        }
        &:active+.collapse-content-closed{
            transform:scaleY(1);
        }
    }
    .collapse-content-closed{
        padding-top:20px;
        transform-origin: 50% 0%;
        transform:scaleY(0);
        transition:transform 500ms ease-in-out;
    }
    .collapse-content-open{
        padding-top:20px;
        transform-origin: 50%0%;
        transform:scaleY(1);
        transition:transform 500ms ease-in-out;
    }
}
