@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/responsive.scss';

@mixin arrow-dimensions{
    width:32px;
    height:32px;
}
@mixin collapse-content-style{
    height:fit-content;
    padding:20px;
    transform-origin: 50% 0%;
    background-color: $grey;
    @include font-text;
}

.collapse{
    display:flex;
    flex-direction: column;

    .collapse-btn{
        background-color: $red;
        border:none;
        height:52px;
        display:flex;
        justify-content: space-between;
        @include font-collapse;
        padding:0px 15px 0px 15px;
        align-items: center;
        border-radius: 5px;

        .closed{
            @include arrow-dimensions;
            transform:rotate(180deg);
            transition:transform 100ms;
        }
        .open{
            @include arrow-dimensions;
            transform:rotate(0);
            transition:transform 300ms;
        }
    }
    .collapse-content-closed{
        @include collapse-content-style; 
        transform:scaleY(0);
        height:0px;  
    }
    .collapse-content-open{
        @include collapse-content-style;
        transform:scaleY(1);
        transition:transform 400ms;
        margin-bottom: 20px;
    }
}

@media (max-width:$mobile){
    .collapse{
        .collapse-btn{
            height:30px;
            font-size: 13px;
        }
        .collapse-content-open{
            font-size:13px;
        }
        .collapse-content-closed{
            font-size:13px;
        }
    }
}