@import '/src/styles/responsive.scss';

.carrousel{
    position:relative;
    display:flex;
    flex-direction: row;
    border-radius: 25px;
    justify-content: center;
    height:415px;
    
    img{
        border-radius: 25px;
        width:100%;
        object-fit: cover;
    }
    .btn-backward{
        background-color:transparent;
        border:none;
        position:absolute;
        top:50%;
        left:10%;
        transform:translate(-50%, -50%);
        cursor:pointer;
    }
    .btn-forward{
        background-color:transparent;
        border:none;
        position:absolute;
        top:50%;
        right:1%;
        transform:translate(-50%, -50%);
        cursor:pointer;
    }
    .picture-number{
        color:white;
        position:absolute;
        top:85%;
        left:50%;
    }
}

@media (max-width:$mobile){
    .carrousel{
        height:255px;
        border-radius: 10px;
        img{
            border-radius: 10px;
        }
        .btn-backward{
            height:24px;
            width:24px;
        }
        .btn-forward{
            height:24px;
            width:24px;
        }
    }
}
