.carrousel{
    position:relative;
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    border-radius: 25px;
    justify-content: center;
    height:415px;
    
    img{
        border-radius: 25px;
        width:100%;
    }
    .btn-backward{
        background-color:transparent;
        border:none;
        position:absolute;
        top:50%;
        left:5%;
        transform:translate(-50%, -50%);
        cursor:pointer;
    }
    .btn-forward{
        background-color:transparent;
        border:none;
        position:absolute;
        top:50%;
        right:5%;
        transform:translate(-50%, -50%);
        cursor:pointer;
    }
}
