@import '/src/styles/colors.scss';
@import '/src/styles/fonts.scss';

.gallery{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 35px;
    justify-items:center;
    padding:35px;
    margin-top: 35px;
    border-radius: 25px;
    background-color: $grey;

    .card{
        width:340px;
        height:340px;
        border-radius: 10px;
        background-color: $red;
        display:flex;
        flex-direction: column;
        justify-content:end;
        padding:15px;
        @include font-element;

       .card-name{
            height:15%;
        }
    }  
    
        
}

    