@import '/src/styles/fonts.scss';

.banner{
    position:relative;
    height:223px;
    background-image: url(/src/assets/banner.png);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    margin-top:45px;
    
    .overlay{
        position:absolute;
        top: 0;
        left:0;
        right:0;
        bottom:0;
        height:100%;
        margin:none;
        background-color:rgba(0,0,0,0.6);
        border-radius: 25px;
        text-align: center;
        align-content: center;
    }
    h1{
        @include font-banner;
    }
}



